/* src/components/Register.css */

.register-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.logo-container {
  position: relative;
}

.youtube-logo {
  width: 50px;
  height: auto;
  position: absolute;
  top: 15px;
  left: -163px;
}

.register-form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 600px;
  text-align: center;
  justify-content: center; /* Center content horizontally */
}

.register-form h1 {
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.73rem;
  margin-left: 10px;
}

.register-form input {
  width: 300px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 8px;
}


#regibutton {
  background-color: #ff0000;
  width: 100px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: -10px;
  cursor: pointer;
  border-radius: 20px;
}

#regibutton:hover {
  background-color: #cc0000;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
  width: 280px;
  font-size: 0.75rem;
  margin-top: 0;
  position: relative;
  top: -8px;
  left: 10px;
  display: flex;
  align-items: flex-start;
}

.error-icon {
  width: 18px;
  height: 18px;
  position: relative;
  top: -2px;
}

.error-input {
  border-color: red !important;
  border-width: 2px;
  border-radius: 4px;
}

.password-container {
  position: relative;
}

.tooltip-icon {
  position: absolute;
  right: 5px;
  top: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgb(212, 209, 236);
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.75rem;
}

.tooltip-text {
  display: none;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  border-color: rgba(56, 47, 47, 0.644) !important;
  border-width: 1px;
}

.tooltip-text.show {
  display: block;
}

.image-preview-container {
  margin-bottom: 20px;
}

.preview-image {
  width: 100px;
  height: auto;
}
