.video-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.video-main {
  flex: 2;
  padding: 20px;
  max-width: 800px;
}

.suggested-videos {
  flex: 1;
  padding: 20px;
  max-width: 400px;
  overflow-y: auto;
}

.video-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.video-main video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.video-main p {
  font-size: 16px;
  line-height: 1.5;
}

/* General Styles */
.like-dislike-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.like-button, .dislike-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
}

.like-button.active svg, .dislike-button.active svg {
  color: black;
}

.like-button svg, .dislike-button svg {
  color: transparent;
  stroke: black;
  stroke-width: 3px; /* Adjust thickness here */
}

.like-button span, .dislike-button span {
  margin-right: 5px;
}

/* Dark Mode Styles */
.dark-mode .like-button.active svg, .dark-mode .dislike-button.active svg {
  color: white; /* Set active color for dark mode */
}

.dark-mode .like-button svg, .dark-mode .dislike-button svg {
  color: transparent;
  stroke: white;
  stroke-width: 3px; /* Adjust thickness here */
}



.comment-section {
  margin-top: 20px;
}

.comment-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 20px;
}

.comment input, .comment-section input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.comment-section button {
  padding: 10px 20px;
  margin-top: 10px;
}

.replies {
  margin-left: 20px;
}
