/* src/components/Login.css */

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.logo-container {
  position: relative;
}

.youtube-logo-login {
  width: 50px;
  height: auto;
  position: absolute;
  top: 15px;
  left: -163px;
}

.login-form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 420px;; /* Adjust height as needed */
  text-align: center;
}

.login-form h1 {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.73rem;
}

.login-form input {
  width: 300px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginbutton {
  background-color: #ff0000;
  width: 100px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 20px;
}

#loginbutton:hover {
  background-color: #cc0000;
}

#regbutton {
  background-color: #ff0000;
  width: 200px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
}

#regbutton:hover {
  background-color: #cc0000;
}

#error-message {
  color: red;
  width: 280px;
  font-size: 0.75rem;
  margin-top: 0;
  position: relative;
  top: -8px;
  left: 10px;
  display: flex;
  align-items: flex-start;
}

.error-icon {
  width: 18px;
  height: 18px;
  position: relative;
  top: -2px;
}

.error-input {
  border-color: red !important;
  border-width: 2px;
  border-radius: 4px;
}

#forgot-password {
  color: blue;
  cursor: pointer;
  margin-top: 10px; /* Adjust margin as needed */
  font-size: 0.8rem;
}

#forgot-password:hover {
  text-decoration: underline;
}