body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  display: flex;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  display:flex;
  flex-wrap: wrap; /* Allow videos to wrap to the next line */

}
.icon-display {
  display: flex;
  width: 23%; /* Adjust width to leave some space for margins */
  box-sizing: border-box;
}

.video-display {
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
  width: 23%; /* Adjust width to leave some space for margins */
  box-sizing: border-box;
}

.video-display video {
  width: 100%;
  height: auto;
  display: flex;

}

/* styles.css */

.video-grid {
  display: flex;
  flex-wrap: wrap; /* Allow videos to wrap to the next line */
  justify-content: space-between;
  gap: 10px;
}

.video-display {
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  padding: 10px; /* Optional padding for spacing */
}

.video-display video {
  width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .video-display{
      flex: 1 1 50%; /* Two items per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .video-display {
      flex: 1 1 100%; /* One item per row on very small screens */
  }
}
